---
import Layout from "../layouts/Layout.astro";
import NavbarGeneral from "../components/NavbarGeneral.jsx";
import Tabs from "../components/tabs.jsx";
import "../styles/global.css";
import Accordion from "../components/Accordion.jsx";


const tabs = [
  { label: "ABOUT", content: "aboutContent" },
  { label: "TIKETS", content: "asdads"  },
];
---

<Layout title="FAQ">
  <NavbarGeneral client:load />
  <div class="fixed-bg"></div>

  <main class="prose prose-lg overflow-x-hidden mt-16 max-w-xl mx-auto">
    <section id="festival" class="pt-14 px-4">
      <h1
        class="text-center font-raleway text-[1.5rem] font-black leading-[130%]"
      >
        FAQ
      </h1>
      <div
        class="bg-white pb-8 pt-2 px-4 rounded-lg shadow-[0px_1px_2px_0px_rgba(0,0,0,0.30),0px_1px_3px_1px_rgba(0,0,0,0.15)]"
      >
        <Tabs tabs={tabs} client:load/>

        <!--<Accordion data={faqData} client:load />-->
      </div>
    </section>
  </main>
</Layout>
